<!-- <div class="bg-light text-dark p-3 text-center " style="position: fixed; bottom: 0;width:100%; color:#fff; display:grid;">
    <h5 style="margin-top: 25px;"> ™️ ALL Rights Reserved</h5>
    <h6>2021</h6>
    <h6>
        Contact us at contact@beaj-o-dev.com
    </h6>
</div> -->
</body>

</html>